{% extends "admintemplate.html" %}
{% load staticfiles my_tags %}
{% block scripts %}
	<script>
		$(function () {
	        $('.imagen-formset').formset({
		        addText: 'agregar imagen',
		        deleteText: 'quitar'
		    });
	        $(".iconoBorrarPequeno").on('click', 
	            function (){
	                
	                if( $("#borrarFiles").val()==="" ){
	                    $("#borrarFiles").val( $(this).parent().attr('idImagen') )
	                }
	                else{
	                    $("#borrarFiles").val( $("#borrarFiles").val()+','+$(this).parent().attr('idImagen') )
	                }
	                
	                $(this).parent().remove();
	            }
	        );
	    });
	</script>
{% endblock %}


{% block content %}

			<form action="{{request.path}}" method="post" enctype="multipart/form-data" class="form-horizontal">
			    {% csrf_token %}
			    <input type="hidden" id="borrarFiles" name="borrarFiles" />

			    {% if form.non_field_errors %}
				    <div class="alert alert-danger" role="alert">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span>
						{{ form.non_field_errors }}
					</div>
			    {% endif %}

			    <div class="input-group ">
                    <span>{{form.title.label}}: </span>
                    {{form.title}} 
                    {% for error in form.title.errors %}
	                    {{ error|escape }}
	                {% endfor %}
                </div>



                {{ imagen_formset.management_form }}
			    {% for imagen_form in imagen_formset %}
			        <div class="imagen-formset">
			        	<br />
			            {{ imagen_form.imagen.label }}:  {{ imagen_form.imagen }} 
			            
			            {% if imagen_form.imagen.errors %}
			                {% for error in imagen_form.imagen.errors %}
			                    {{ error|escape }}
			                {% endfor %}
			            {% endif %}
			        </div>
			    {% endfor %}

			    <br />
			    <br />
			    <br />
			    {% if imagen_formset.non_form_errors %}
				    <div class="alert alert-danger" role="alert">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span>
						{% for error in imagen_formset.non_form_errors %}
				            {{ error|escape }}
				        {% endfor %}
					</div>
			    {% endif %}


			    <br />
			    <br />
			    <br />
			    <input type="button" value="Cancelar" onclick="window.location.href={% url 'index'%}" />
			    <input type="submit" value="Guardar" />
			    <br />
			    <br />
			    {% for imagen in imagenes %}
			    	<div class="imagenGaleriaForm"  idImagen="{{imagen.id}}" style="background-image: url('{% url 'descargaImagen' imagen.id %}')">
			    		<img class="iconoBorrarPequeno" src="{% static 'imgs/remove.png' %}" />
			    		<input class="botonVerImagen" type="button" value="Ver" onclick="window.open('{% url 'descargaImagen' imagen.id %}')" />
			    	</div>
			    {% endfor %}

			</form>
			<script>
			    
			</script>

{% endblock %}


