{% extends "admintemplate.html" %}
{% load staticfiles my_tags %}
{% block scripts %}
	<script>
		$(function () {
	        $('.imagen-formset').formset({
		        addText: 'agregar imagen',
		        deleteText: 'quitar'
		    });
	        $(".iconoBorrarPequeno").on('click', 
	            function (){
	                
	                if( $("#borrarFiles").val()==="" ){
	                    $("#borrarFiles").val( $(this).parent().attr('idImagen') )
	                }
	                else{
	                    $("#borrarFiles").val( $("#borrarFiles").val()+','+$(this).parent().attr('idImagen') )
	                }
	                
	                $(this).parent().remove();
	            }
	        );
	    });
	</script>
{% endblock %}


{% block content %}

			<form action="{{request.path}}" method="post" enctype="multipart/form-data" class="form-horizontal">
			    {% csrf_token %}
			    <input type="hidden" id="borrarFiles" name="borrarFiles" />

			    {{ form.non_field_errors }}
			    <div class="input-group ">
                    <span>{{form.title.label}}: </span>
                    {{form.title}} 
                    {{ form.title.errors }}
                </div>



                {{ imagen_formset.management_form }}
			    {% for imagen_form in imagen_formset %}
			        <div class="imagen-formset">
			            {{ imagen_form.imagen.label }}: {{ imagen_form.imagen }}
			            {{ imagen_form.imagen.errors  }}
			            {% if imagen_form.imagen.errors %}
			                {% for error in imagen_form.imagen.errors %}
			                    {{ error|escape }}
			                {% endfor %}
			            {% endif %}
			        </div>
			    {% endfor %}

			    {% if imagen_formset.non_form_errors %}
			        {% for error in imagen_formset.non_form_errors %}
			            {{ error|escape }}
			        {% endfor %}
			    {% endif %}


			    <br />
			    <input type="submit" value="Submit" />
			    <br />
			    <br />
			    {% for imagen in imagenes %}
			    	<div class="imagenGaleriaForm" idImagen="{{imagen.id}}" style="background-image: url('{% url 'descargaImagen' imagen.id%}')">
			    		<img class="iconoBorrarPequeno" src="{% static 'imgs/remove.png' %}" />
			    	</div>
			    {% endfor %}

			</form>
			<script>
			    
			</script>

{% endblock %}


