body{
	background-color: #99C3D1;
}

table{
	border-color: #ccc;
	width: 100%;
}

table thead{
	text-transform: uppercase;
}


table, th, td {
    border: 1px solid black;
}

td{
	padding: 3px;
}

.odd td{
	background-color: #eee;
}

.even td{
	background-color: #fff;
}