body{
	background-color: #99C3D1;
}

table{
	border-color: #ccc;
	width: 100%;
}

table thead{
	text-transform: uppercase;
}


table, th, td {
    border: 1px solid black;
}

td{
	padding: 3px;
}

.odd td{
	background-color: #eee;
}

.even td{
	background-color: #fff;
}

.imagenGaleriaForm{
	background-repeat: no-repeat;
    background-size: 200px 150px; 
    border: 1px solid gray;
    cursor: pointer;
    display: inline-block;
    height: 150px; 
    margin: 0 auto;
    text-align: right;
    width: 200px;
}


.iconoBorrarPequeno{
    cursor:pointer;
    width: 15px;
}
